<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wi-Fi Scanner</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='style.css')}}>
</head>
<body>
    <h1>Wi-Fi Scanner</h1>
    <ul>
        {% for wifi in WiFi_List %}
            <li>{{ wifi }}</li>
        {% endfor %}
    </ul>
    <form action="/connect" method="post">
        <div id="ssid-form">
            <label for="wifi">Choose a Wi-Fi network:</label>
            <select name="wifi" id="wifi">
                {% for wifi in WiFi_List %}
                    <option value="{{ wifi }}">{{ wifi }}</option>
                {% endfor %}
            </select>
        </div>
            <br>
        <div id="password-form">
            <label for="password">Enter Wi-Fi password:</label>
            <input type="password" name="password" required>
        </div>
            <br>
        <input type="submit" value="Connect">
    </form>
    <a href="/scan">Scan for Wi-Fi networks</a>
</body>
</html>
